window {
    margin: 5px;
    border: 0px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    font-family: SF Pro Text Regular;
}

@keyframes erscheinen {
    from {opacity: 0;}
      to {opacity: 1;}
}

#input {
    margin: 0px 0px 10px;

    background-color: #121212;
    color : #ffffff;

    border-radius: 5px;
    border: 1px solid #242424;
}

#inner-box {
    background-color: #121212;

    border-radius: 5px;

    padding: 5px;
}

#outer-box {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0);
}

#scroll {
    margin: 0px;

    border-radius: 5px;

    background-color: #121212;

    border: 1px solid #242424;
}

#text {
    margin: 5px 0px 5px;
    color: #FFFFFF
}

#selected {
    border: 0px solid #242424;
    background-color: #242424;
}

#entry:selected {
    margin: 0px;
    background-color: #242424;
    border-radius: 5px; 
}
